{% extends 'base.html' %}


{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock header %}

{% block content %}

<div class="nav text-white justify-content-center flex-column position-relative bg-dark nav-holder">

    <div class="mb-3 mt-3 container justify-content navbar">

        <div class="names">
            <h1>Hello {{ curUser.username }}!</h1>
            <h1 id="points">{{ curUser.points }}</h1>
        </div>

        <div class="imageHolder">
            <img src="../static/favicons/multicolour-paint-splatter.png" alt="paint-splatter">
            <h1>DRAW IT</h1>
        </div>

        <div class="nav-btnHolder">
            <a class="btn" href="/logout">Logout</a>
        </div>

    </div>

    <button id="send-button" class="btn select-user list-group-item border-secondary" style="z-index: 2;"
        onclick="selectUser()">
        <h3 class="text-light" style="text-shadow: 6px 6px 8px rgb(54, 54, 54) ;">Send a drawing!</h3>
    </button>
    <h2 id="who" class="mt-3 mb-4 text-center" style="display: none">Who Would You Like To Send To?</h2>
    <button id="collapse-btn" class="btn" onclick="collapse()">Cancel</button>
    <ul class="list-group text-center" style="display: none; cursor: pointer;" id="userList">
        <form id="search" class="form-inline d-flex container-sm mt-3 mb-3 ">
            <input name="username" class="me-2 form-control mr-sm-2" type="search" placeholder="Search by user name"
                aria-label="Search">
            <input type="hidden" name="curUser" value="{{curUser.id}}">
            <button class="ms-2 btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

        <li onclick="select(this)" style="list-style: none;" class="select-user" id="search-results">
            <!-- Search Results -->
        </li>


        {% if userList %}
        {% for user in userList %}
        <li class="select-user list-group-item border-secondary" onclick="select(this)">
            <h4 class="text-light">{{ user.username }}</h4>
            <input type="hidden" name="user" value="{{user.id}}">
        </li>
        {% endfor %}

        {% else %}
        <h1>NO USERS</h1>
        {% endif %}
    </ul>

</div>

<div id="gamesHolder" class="conatiner-fluid p-3 d- flex-wrap text-center flex-column">
    <h1 id="dash-title" class="guessTitle mb-4">Guess a drawing!</h1>
    <div id="games" class="d-flex gap-3 container-fluid flex-wrap  justify-content-center ">
        <!-- List of games -->
    </div>

</div>

<script>
    const colors = ["#FF873B", "#FFD148", "#9FF263", "#40B7F9", "#FE1DB2", "#FF0D4B"]
    
    updatePoints()


    function updatePoints(addPoints = 0) {

        var pointsElem = document.getElementById("points");

        if (addPoints > 0) {
            pointsElem.innerText = addPoints;
        }

        let pointsNum = "POINTS: " + pointsElem.innerText;
        pointsElem.innerText = ""

        let j = 0;
        for (let i = 0; i < pointsNum.length; i++) {
            let num = pointsNum[i];
            let color = colors[j]
            j++;

            let span = `<span style="color: ${color}">${num}<span>`
            pointsElem.innerHTML += span
            if (j === color.length - 1) {
                j = 0
            }

        }
        
    }

</script>

{% endblock content %}