{% extends 'base.html' %}


{% block header %}
<script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock header %}

{% block content %}
    
<div class="nav bg-dark text-white justify-content-center flex-column">

    <div class="mb-3 mt-3 d-flex justify-content-between container align-items-center">
        <h1>Hello {{ curUser.username }}!</h1>
        <a class="btn btn-outline-danger" href="/logout">Logout</a>
    </div>
    <button id="send-button" class=" btn btn-outline-info text-white" onclick="selectUser()">
        <h3>Send a drawing!</h3>
    </button>
    <h2 id="who" class=" mt-2 text-center" style="display: none">Who Would You Like To Send To?</h2>
    <ul class="list-group text-center" style="display: none; cursor: pointer;" id="userList">

        <form id="search" class="form-inline d-flex container-sm mt-3 mb-3 ">
            <input name="username" class="me-2 form-control mr-sm-2" type="search" placeholder="Search by user name"
                aria-label="Search">
            <input type="hidden" name="curUser" value="{{curUser.id}}">
            <button class="ms-2 btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>

        <li onclick="select(this)" style="list-style: none;" class="select-user" id="search-results">
            <!-- Search Results -->
        </li>


        {% if userList %}
        {% for user in userList %}
        <li class="select-user list-group-item border-secondary" onclick="select(this)">
            <h4>{{ user.username }}</h4>
            <input type="hidden" name="user" value="{{user.id}}">
        </li>
        {% endfor %}

        {% else %}
        <h1>NO USERS</h1>
        {% endif %}
    </ul>

</div>

<div id="gamesHolder" class="conatiner-fluid p-3 d- flex-wrap text-center flex-column">
    <h1 id="dash-title" class="guessTitle mb-4">Guess a drawing!</h1>
    <div id="games" class="d-flex gap-3 container-fluid flex-wrap  justify-content-center ">
        <!-- List of games -->
    </div>

</div>

{% endblock content %}