{% extends 'base.html' %}


    {% block header %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/drawing.js') }}"></script>
    {% endblock header %}

    {% block content %}
        
    <div id="nav" class="nav bg-dark text-white justify-content-center flex-column">

        <div class="mb-3 mt-3 d-flex justify-content-between container align-items-center">
            <h1>Hello {{ curUser.username }}!</h1>
            <div class="d-flex">
                <a class="btn btn-danger me-4" href="/dashboard">Go Back</a>
                <a class="btn btn-outline-danger" href="/logout">Logout</a>
            </div>
        </div>

    </div>

    <div id="gamesHolder" class="d-flex flex-wrap text-center flex-column">

        <div id="choices">
            <h1 id="opp" value="{{ user.id }}" class="guessTitle text-dark mb-5" >Opponent {{ user.username }}</h1>
            <h1 id="hello">Please choose a word you would like to draw!</h1>

            <ul class="list-group text-center mt-4" style="cursor: pointer;" id="userList">

                {% for word in words %}
                <li class="select-user list-group-item border-secondary" onclick="choose('{{word}}')">
                    <h4>{{ word }}</h4>
                </li>
                {% endfor %}
            </ul>


        </div>


        <div id="start" style="display: none;">
            {% include 'draw.html' %}
        </div>

    </div>

    {% endblock content %}

