{% extends 'base.html' %}


    {% block header %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/drawing.js') }}"></script>
    {% endblock header %}

    {% block content %}

    <div id="nav" class="nav justify-content-center flex-column bg-dark nav-holer">

        <div class="mb-3 mt-3 d-flex text-light justify-content-between container align-items-center guess-nav navbar">
            <a class="btn" href="/dashboard">Go Back</a>


            <div class="imageHolder">
                <img src="../static/favicons/multicolour-paint-splatter.png" alt="paint-splatter">
                <h1>DRAW IT</h1>
            </div>

            <a class="btn" href="/logout">Logout</a>
        </div>

    </div>

    <div id="gamesHolder" class="d-flex flex-wrap text-center flex-column words-holder">

        <div id="choices" class="text-light">
            <h1 id="opp" value="{{ user.id }}" class="guessTitle mb-5" >Opponent: {{ user.username }}</h1>
            <h1 id="hello">Please choose a word you would like to draw!</h1>

            <ul class="list-group text-center mt-4 choosing-list" style="cursor: pointer;" id="userList">

                {% for word in words %}
                <li class="select-user list-group-item border-secondary" onclick="choose('{{word}}')">
                    <h4>{{ word }}</h4>
                </li>
                {% endfor %}
            </ul>


        </div>


        <div id="start" style="display: none;">
            {% include 'draw.html' %}
        </div>

    </div>

    {% endblock content %}

