<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0' crossorigin='anonymous'>
    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
    
    <title>Game</title>
</head>
<body>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh; width: 100vw;">

        <div id="choices">
            <p id="opp" value="{{ user.id }}">Opponent {{ user.username }}</p>
            <h1 id="hello">Hello, please choose a word you would like to draw!</h1>
            
            <ul class="d-flex align-items-center flex-column justify-content-center pointer" style="cursor: pointer;">
                {% for word in words %}
                    <li onclick="choose('{{word}}')"><h5>{{ word }}</h5></li>
                {% endfor %}
            </ul>
        </div>

        <div id="start" style="display: none;">
            {% include 'draw.html' %}
        </div>


    </div>
</body>

<script>    
    var choices = document.getElementById("choices")
    var start = document.getElementById("start")
    var word = document.getElementById("word")

    
    const choose = (elem) => {
        
        word.innerHTML = elem;
        choices.style.display = "None"
        start.style.display = "block"
}

</script>

</html>