{% extends 'base.html' %}

        {% block header %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/guessing.js') }}"></script>
        {% endblock header %}

    {% block content %}
        
    <div id="nav" class="nav bg-dark text-white justify-content-center flex-column">
        <div class="mb-3 mt-3 d-flex justify-content-between container align-items-center">
            <h1>Hello {{ curUser.username }}!</h1>
            <div class="d-flex">
                <a class="btn btn-danger me-4" href="/dashboard">Go Back</a>
                <a class="btn btn-outline-danger" href="/logout">Logout</a>
            </div>
        </div>
    </div>
    <div id="guessContainer" class="text-center p-1 d-flex flex-column justify-content-center align-items-center">
        <img src={{drawing.image}} alt="drawing">
    </div>
    <div class="userGuesses text-center p-1 d-flex flex-column justify-content-center align-items-center">
        <h1 id="guessTitle">Take A Guess!</h1>
        
        <form id="guessForm" class="d-flex flex-column align-items-center">
            <input type="text" name="guess">
            <button id="guessBtn" >Guess</button>
        </form>
        <p id="guessText"></p>

    </div>
    
    {% endblock content %}
