
    <div class="container-sm">
        <h1>Register</h1>
        <form action="/register" method="post">
            <div class="d-flex">
                <h3>Username:</h3>
                <input type="text" name="username">
            </div>
            <div class="d-flex">
                <h3>Password:</h3>
                <input type="password" name="password">
            </div>
            <div class="d-flex">
                <h3>Confirm Password:</h3>
                <input type="password" name="confirm">
            </div>
            <button>Register</button>
        </form>
    </div>
