body
{
    margin: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}
#myCanvas
{
    background-color: #ddd;
    border: 1px solid black;
    width: 100%;
}


#canvasImg
{
    width: 75%;
    height: 75%
}

#tools {
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 150px);
    align-items: center;
    justify-content: space-between;
}

.interact {
    display: flex;
    width: 50%;
    justify-content: space-between;
}



.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}



.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 0 60px;
}

#canvas {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.select-user {
    background-color: rgb(33, 37, 41);
    color: white;
}

.select-user:hover {
    background-color: rgb(108, 117, 125);
    font-size: larger;
    transition: .5s;

}

.select-user:hover h4 {
    color: black;
    font-size: 1.7rem;
    font-weight: 700;
    transition: .5s;
}

#gamesHolder {
    height: 100%;
}



.dash-drawings {
    width: fit-content;

}
.dash-drawings h1{
    width: 100%;
    margin-bottom: 0;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    transition: .5s;
}

.dash-drawings img {
    width: 100%;
    height: 100%;
    background-color: white;
    max-width: 500px;
    max-height: 300px;
    border: 2px solid black;
    border-top: none;
    transition: .5s;

}

.guessTitle {
    color: white;
    font-size: 3rem;
}


@media screen and (max-width: 760px) {
    #tools label{
        display: none;
    }

    .interact {
        flex-direction: column;
        
    }

}

a{
    color: inherit;
    text-decoration: none;

}
a:hover {
    color: inherit;

}

.dash-drawings:hover img{
    border: 2px solid white;
    border-top: none;   
    transition: .75s;
}
.dash-drawings:hover h1{ 
    border-top: 2px solid rgb(255, 255, 255);
    border-right: 2px solid white;
    border-left: 2px solid white;
    transition: .75s;
}